html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 100;
}

.container {
    width: 100%;
}

.content {
    margin-top: 4rem;
}

.title {
    font-family: 'Lato';
    font-size: 96px;
}

[data-errors] {
    margin-bottom: 0;
}

[data-errors] > li {
    color: red !important;
    font-size: 90%;
}